@model PROG7311_GLMSApp.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Contract Details</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>
    </dl>
</div>
<div class="card">
    <div class="card-header">
        <h5> Service Level Agreement</h5>
    </div>
    <div class="card-body" style="background-color:grey">
        <a asp-action="DownloadFile" class="btn btn-primary" asp-route-fileName="@Model.FilePath">Download File</a> 
    </div>
</div>
<br />
<br />
<br />
<div>
    <a asp-action="Index" class="btn btn-dark">Back to Dashboard</a>
</div>
