@model IEnumerable<PROG7311_GLMSApp.Models.Contract>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        @TempData["Error"]
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
<h1>Contracts</h1>
<form asp-controller="Contracts" asp-action="Index" >
    <div class="form-control" style="display:flex; justify-content:space-between; align-items:center; background-color:teal; padding: 10px 20px;">
        <div style="display:flex;align-items:center;gap:10px;">
            <label for="startDate" style="color:white;">Start Date:</label>
            <input type="date" name="startDate" style=" border-radius:5px ;width: 130px; height:30px" />

            <label for="endDate" style="color:white">End Date:</label>
            <input type="date" name="endDate"  style=" border-radius:5px;  width: 130px; height:30px" />
            <button type="submit" class="btn btn-dark ">Filter</button>
        </div>
        
        <div style="gap:10px ; display:flex; align-items:center">
                <select name="status" class="form-select" style="width: 250px; ">
                    <option value="">Select Status</option>
                    <option value="draft">Draft</option>
                    <option value="active">Active</option>
                    <option value="expired">Expired</option>
                    <option value="onhold">On Hold</option>
                </select>
                <button type="submit" class="btn btn-dark ">Filter</button>
               </div>         
    </div>
</form>

<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @if (item.Status.ToLower() == "draft")
                {
                <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a>
                <a asp-action="Details" asp-route-id = "@item.ContractId">Details</a> 
                <asp - action = "Delete" asp - route - id = "@item.ContractId" > Delete </ a >
              
                    }
                    else
                    { }

                <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
