@model IEnumerable<PROG7311_GLMSApp.Models.ServiceRequest>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        @TempData["Success"]
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
<h1 style="font-weight: bold; font-family: Arial, sans-serif;">Service Request Dashboard</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add Service Request</a>
</p>
<table class="table table-bordered border-opacity-100 table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZarAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               $ @item.Cost.ToString("F2")
            </td>
             <td>
               R @item.ZarAmount.ToString("F2")
                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.ContractId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ServiceRequestId">Edit</a> 
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.ServiceRequestId">Details</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ServiceRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
